# Ignore the Foundry source code bundle
foundryvttsourcecode_v13
foundryvttsourcecode_v14
Foundry Virtual Tabletop v14
.idea/
node_modules
gamesystemsourcecode
oldmapshinemodulecode
module-staging
dist
othermodules
docs/