<div class="msa-gfx-menu">
  <p class="msa-gfx-menu__lead">{{localize "MAPSHINE.PerformanceGraphicsMenuLead"}}</p>
  <div class="form-group">
    <button type="button" data-action="open">
      <i class="fas fa-gauge-high"></i> {{localize "MAPSHINE.PerformanceGraphicsMenuButton"}}
    </button>
  </div>
</div>
